<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>英単語ゲーム！</h1>
  <form action="/vocabulary" method="get">
    <button type="submit">収録されている英単語</button>
  </form>
  <form action="/start" method="get">
    <button type="submit">ゲームを遊ぶ</button>
  </form>
</body>
</html>